# Node
node_modules
npm-debug.log
.npm
.pnp
.pnp.js

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
!/frontend/src/lib
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode
.vscode/